{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="padding-top: 80px;">
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #e3f2fd;">  
      <a class="navbar-brand" href="/">Boast and Roast</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/postsubmit">New Post</a>
            </li>
        </ul>
      </div>
    </nav>
    <div>
        <a href="/boasts" class="btn">Only Boasts</a>
        <a href="/roasts" class="btn">Only Roasts</a>
        <a href="/mostvotes" class="btn">Highest Voted</a>

    </div>

    <main role="main" class="container">
      {% block main %}
      {% endblock %}
    </main>
</body>
</html>