{% extends 'base.html' %}
{% load bootstrap4 %}

{% bootstrap_css %}

{% block main %}
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h2>New Post</h2>
                <form class='form' method='post' action='' style="border: 5px solid lightskyblue; padding: 75px; border-radius: 10px;">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type='submit' class='btn btn-primary' value='Submit Post'>
                </form>
        </div>
{% endblock %}